{% extends 'layout.html.twig' %}

{% block content %}
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Evento</th>
            <th>Asistentes</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        {% for juerga in juergas %}
            <tr>
                <td><a href="{{ path('mostrar_asistentes', {'evento': juerga.evento}) }}">{{ juerga.evento}}</a></td>
                <td>{{ juerga.asistentes }}</td>
                <td>{{ juerga.fechaInicio }}</td>
                <td>{{ juerga.fechaFin }}</td>
                <td>{{ juerga.precioPersona }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay eventos que mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
